

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan"><a href="https://erisp.net">ERISP</a> Modifying Changes for Nets-International In CRM-Vendors</h2>
    </div>
</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
        <div class="oe_picture">
            <h3 class="oe_slogan">Overview</h3>
            <p>
            When this Module is installed the following changes will be made in CRM Extension:
    <br></br>- It will hide and replace the "Vendor Information" section in "Pipeline" --> "Contact Information Tab" with a section of "Accounting".
    <br></br>- Accounting section includes "Invoiced", "Expendeture" and "Profit" fields, as well as these fields have been shown in "Pipeline" Tree view. 
    <br></br>- Two fields of "Vendor 1" and "Vendor 2" will be shown in "Pipeline" --> "Contact Information Tab" --> "Misc" section.
    <br></br>- And the fields "Vendor 1" and "Vendor 2" have also been included in Tree view in "Pipline" Menu.
            </p>
        </div>
    </div>
</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
    	<h4 class="oe_slogan">Form View Before the Installation of "CRM Vendor Nets Module"</h4>
        <div class="oe_picture">
        	 <img class="oe_picture oe_screenshot" src="Before_Installation.jpeg">
        </div>
    </div>
</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
    	<h4 class="oe_slogan">Form View After the Installation of "CRM Vendor Nets" Module</h4>
        <div class="oe_picture">
        	 <img class="oe_picture oe_screenshot" src="After_Installation.png">
        </div>
    </div>
</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
    	<h4 class="oe_slogan">Fields --> Vendor 1, Vendor 2, Invoiced, Expendeture and Profit In Tree View</h4>
        <div class="oe_picture">
        	 <img class="oe_picture oe_screenshot" src="tree_view.png">
        </div>
    </div>
</section>
<section class="container">
    <div class="row oe_spaced">
        <div class="oe_span12" align="center">
            <h2 class="oe_slogan" style="">Need Support or Services ?</h2>
            <a href="https://erisp.net" target="_blank">Click here to visit our website</a></p>
        </div>
    </div>
</section>